.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 100px;
  justify-content: center;
}

.imgContainer {
  border: 1px solid black;
  display: grid;
  height: 450px;
  justify-content: center;
  width: 600px;
}

a {
  display: grid;
  text-decoration: none;
}

img {
  opacity: 0;
  transition: opacity 0.1s ease;
  align-self: center;
  max-width: 500px;
}

.imageLoaded {
  opacity: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.dots {
  grid-column-start: 2;
  text-align: center;
}

.dots button {
  font-size: 48px;
  padding: 0 10px;
}

@media (max-width: 700px) {
  .imgContainer {
    height: 300px;
    width: 400px;
  }

  img {
    max-width: 350px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    height: 200px;
    width: 300px;
  }

  img {
    max-width: 250px;
  }
}
