body {
  overflow: hidden;
}

main {
  background-color: #fff;
  height: 100vh;
}
main.darkTheme {
  background-color: #000;
}

a {
  display: grid;
  text-decoration: none;
}

img {
  opacity: 0;
  transition: opacity 0.1s ease;
  align-self: center;
  max-width: 500px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* remove focus outline unless user is navigating by keyboard */
a,
label,
button:focus {
  outline: none;
}
#switch:focus-visible + .slider:before {
  box-shadow: 0 0 1px 2px #3abeff;
}
a:focus-visible,
button:focus-visible {
  outline: 1px solid #000;
}
.darkTheme a:focus-visible,
.darkTheme button:focus-visible {
  outline: 1px solid #fff;
}

/*

Toggle switch for dark theme

*/
.themeIcon {
  font-size: 22px;
  position: fixed;
  top: 30px;
}

.themeIcon:first-of-type {
  right: 118px;
}

.themeIcon:last-of-type {
  right: 24px;
}

.themeSwitch {
  display: inline-block;
  height: 28px;
  position: fixed;
  right: 60px;
  top: 28px;
  width: 48px;
}

#switch {
  height: 1px;
  width: 1px;
}

.slider {
  background-color: #000;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  border-radius: 50%;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}
.darkTheme .slider:before {
  background-color: #000;
}

#switch:checked + .slider {
  background-color: #fff;
}

#switch:checked + .slider:before {
  transform: translateX(20px);
}

/*

Image Carousel

*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 100px;
  justify-content: center;
}

.imgContainer {
  border: 1px solid #000;
  display: grid;
  height: 450px;
  justify-content: center;
  width: 600px;
}
.darkTheme .imgContainer {
  border-color: #fff;
}

.imageLoaded {
  opacity: 1;
}

.changeImage {
  align-self: center;
  height: 50px;
  justify-self: center;
  width: 50px;
}

/*

Paging arrows and dots

*/
.arrow {
  color: #000;
  font-size: 32px;
}
.darkTheme .arrow {
  color: #fff;
}

.dots {
  grid-column-start: 2;
  padding-top: 10px;
  text-align: center;
}

.dots button {
  color: #aaa;
  font-size: 40px;
  padding: 0 10px;
}

.dots button.active {
  color: #000;
}
.darkTheme .dots button.active {
  color: #fff;
}

.arrow:hover,
.dots button:hover {
  color: #777;
}
.darkTheme .dots button:hover {
  color: #ccc;
}

@media (max-width: 800px) {
  .themeIcon {
    font-size: 20px;
    top: 422px;
  }

  .themeIcon:first-of-type {
    left: 78px;
  }

  .themeIcon:last-of-type {
    left: 154px;
  }

  .themeSwitch {
    height: 22px;
    left: 110px;
    top: 420px;
    transform: translateX(0);
    width: 38px;
    -moz-transform: translateX(-3px);
  }

  .slider:before {
    height: 14px;
    width: 14px;
  }

  #switch:checked + .slider:before {
    transform: translateX(16px);
  }

  .container {
    padding-top: 60px;
  }

  .imgContainer {
    height: 300px;
    width: 400px;
  }

  img {
    max-width: 350px;
  }

  .changeImage {
    width: 30px;
  }
  .arrow {
    font-size: 28px;
  }

  .dots button {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .themeIcon {
    font-size: 14px;
    top: 303px;
  }

  .themeIcon:first-of-type {
    left: 58px;
  }

  .themeIcon:last-of-type {
    left: 118px;
  }

  .themeSwitch {
    height: 18px;
    left: 80px;
    top: 300px;
    width: 34px;
  }

  .slider:before {
    height: 10px;
    width: 10px;
  }

  .container {
    padding-top: 40px;
  }

  .imgContainer {
    height: 200px;
    width: 300px;
  }

  img {
    max-width: 250px;
  }

  .arrow {
    font-size: 24px;
  }

  .dots button {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .imgContainer {
    height: 200px;
    width: 250px;
  }

  img {
    max-width: 200px;
  }
}
